{erl_opts, [debug_info]}.
{deps, []}.

{relx, [
    {release, {game_server, "0.1.0"}, [
        game_server,
        sasl
    ]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
