{erl_opts, [debug_info]}.
{deps, []}.


{shell, [
    {apps, [game_server]} ,
    {config, "config/sys.config"}
]}.


{dist_node, [
    {name, 'game_server@127.0.0.1'},
    {setcookie, 'mysecretcookie'}
]}.


{relx, [
    {release, {game_server, "0.1.0"}, [
        game_server,
        sasl
    ]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.



{plugins, [
    rebar3_gpb_plugin,
    {rebar3_gpb_rpc_plugin,{git,"https://github.com/feng19/rebar3_gpb_rpc_plugin.git",{tag,"1.3.1"}}}

]}.

{provider_hooks, [
    {compile, {protobuf, compile}},
    {clean, {protobuf, clean}},
%%      for gpb rpc
    {compile, {gpb_rpc, compile}},
    {clean, {gpb_rpc, clean}}
]}.


%% gpb的配置
{gpb_opts, [
    {i, "p"},
    strings_as_binaries,
%%    use_packages
%%    {nif, true},
    {verify, always},
    {o_erl, "src/proto"},
    {o_hrl, "include/"},
    {module_name_suffix, "_pb"}
]}.

%% gpb_rpc的配置
{gpb_rpc_opts, [
    {msg_prefix, "msg_"},  %% 设置协议前缀
    {mod_prefix, "mod_"},  %% 设置生成的erl文件名前缀
    {o_erl, "src/msg"},  %% 输出的erl文件目录
    {o_hrl, "include/msg"}, %% 输出的hrl文件目录
    {erl_tpl, "templates/gpb_rpc/gpb_rpc.erl.tpl"}, %% erl模板地址
    {hrl_tpl, "templates/gpb_rpc/gpb_rpc.hrl.tpl"}  %% hrl模板地址
]}.



{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
