{erl_opts, [debug_info]}.
{deps, []}.

{relx, [
    {release, {game_server, "0.1.0"}, [
        game_server,
        sasl
    ]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.


{plugins, [rebar3_gpb_plugin]}.

{provider_hooks, [
    {pre, [{compile, {protobuf, compile}}]}
]}.

{gpb_opts, [
    {i, "proto"},         % 指定 .proto 文件所在目录
    {o_erl, "src/proto"}, % 生成的 .erl 文件输出目录
    {o_hrl, "include"}    % 生成的 .hrl 文件输出目录
]}.



{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
