[
    {game_server, [
        {net, #{
            type => ws,
            socket_opts => [{port, 6006}]
            , max_connections => 3000
        }}
    ]},
    {lager,
        [
            {log_root, "log"},
            {colored, "true"},

            {crash_log, "crash.log"},
            {crash_log_msg_size, 65536},
            {crash_log_size, 104857600},
            {crash_log_date, "$D0"},
            {crash_log_count, 10},

            {handlers, [
                {lager_console_backend, [{level, info},
                    {formatter, lager_default_formatter},
                    {formatter_config, [date, " ", time, " [", severity, "] ",
                        module, ":", line, " -- ", message, "\n"]}
                ]},
                {lager_file_backend, [{file, "info.log"}, {size, 524288000}, {level, info}, {date, "$D0"}, {count, 30}]},
                {lager_file_backend, [{file, "warning.log"}, {size, 524288000}, {level, warning}, {date, "$D0"}, {count, 30}]},
                {lager_file_backend, [{file, "error.log"}, {size, 524288000}, {level, error}, {date, "$D0"}, {count, 30}]}
            ]}
        ]
    }
].
